<div class="jumbotron">
    <h1>DPSync Web</h1>
    <p class="lead">Aplicações WEBAPI e manipulação de dados by Corcovado</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>
<div class="row">

    <div class="col-md-4">
        <h2>
            Petrobras API - Maiores Que
        </h2>
        <p>Retorne por embarcação ou não, dados maiores que a data. petrobras_api/maioresque?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI</p>
        <p><a class="btn btn-default" href="petrobras_api/petrobras/maioresque?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI">Acesso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Petrobras API - Menores Que
        </h2>
        <p>Retorne por embarcação ou não, dados menores que a data. petrobras_api/maioresque?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI</p>
        <p><a class="btn btn-default" href="petrobras_api/petrobras/menoresque?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI">Acesso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>
            Petrobras API - Iguais à
        </h2>
        <p>Retorne por embarcação ou não, dados iguais a data. petrobras_api/iguaisa?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI</p>
        <p><a class="btn btn-default" href="petrobras_api/petrobras/iguaisa?data=@DateTime.Now.ToString("yyyyMMdd_000000")&mobile=ASTRO TUPI">Acesso &raquo;</a></p>
    </div>
    
</div>
<div class="row">
    <div class="col-md-4">
        <h2>
            Petrobras API - Entre
        </h2>
        <p>Retorne por embarcação ou não, dados entre a data. petrobras_api/entre?data_ini=@DateTime.Now.ToString("yyyyMMdd_000000")&data_fim=@DateTime.Now.ToString("yyyyMMdd_235959")&mobile=ASTRO TUPI</p>
        <p><a class="btn btn-default" href="petrobras_api/petrobras/entre?data_ini=@DateTime.Now.ToString("yyyyMMdd_000000")&data_fim=@DateTime.Now.ToString("yyyyMMdd_235959")&mobile=ASTRO TUPI">Acesso &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>ExactAIS</h2>
        <p>Retorne os dados referente a ExactAIS.</p>
        <p><a class="btn btn-default" href="/api/eais">Acesso &raquo;</a></p>
    </div>
</div>
